/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
    font-size: 100px;
    color: #f1f6fa;
    background-color: rgba(0, 0, 0, 0.3);
    letter-spacing: 4px;
}

.split {
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
  
.split.left {
    position: absolute;
    left: 0;
    background-color: #deffc0;
    background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-pro-family-hero?wid=940&hei=1112&fmt=png-alpha&.v=1631220221000");
    background-size: cover;
}
  
.split.right {
    position: absolute;
    right: 0;
    background-color: #f7f7f7;
    background-image: url("https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6465/6465022_sd.jpg;maxHeight=640;maxWidth=550");
    background-size: cover;
}
  
.active-left .left {
    width: 75%;
}
  
.active-left .right {
    width: 25%;
}
  
.active-right .left {
    width: 25%;
}
  
.active-right .right {
    width: 75%;
}
  
.left,
.right {
    transition: width 2s ease-in-out;
}
  
.btn {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  font-size: 25px;
  white-space: nowrap;
  border: 4px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 1s ease-out,
              color 1s ease-out;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}
